<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>全站聊天室列表</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container container-fluid d-flex">
            <a class="navbar-brand" href="/">Go聊天室</a>
            <div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/my/rooms">我的聊天室</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/create-room">建立聊天室</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <main class="container my-3 text-center">
        <h2 class="mb-5">建立聊天室</h2>

        <form id="create-room">
            <div class="mb-3 w-50 mx-auto">
                <label for="room" class="form-label fs-4">聊天室名稱</label>
                <input type="text" class="form-control" id="room" name="room" required>
            </div>
            <p class="msg"></p>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">建立</button>
            </div>
        </form>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="/public/js/create_room.js"></script>
</body>
</html>